<section class="bg-light" id="plan">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">Tenha acesso ilimitado</h2>
      </div>
    </div>
    <div class="row">
      <div class="offset-md-3 col-md-6 offset-lg-4 col-lg-4">
        <div class="plan-card">
          <div class="info">
            <h2>PRO</h2>
            <h3>R$ <div class="high">25</div>,00<small>por mês</small></h3>
            <p class="text-muted">Para empresas, tenha acesso a infinitas consultas por dia.</p>
          </div>
          <div class="details">
            <div class="list">
              <li>24 Horas, 7 Dias Por Semana.</li>
              <li>100 Consultas Gratuitas Por Mês.</li>
              <li>Consultas Adicionais por R$ 0,25.</li>
              <li>API Com Documentação.</li>
              <li>Assistência Especializada.</li>
            </div>
            <a (click)="openPlanModal()" class="btn btn-primary btn-xl text-uppercase js-scroll-trigger">Contratar</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<plan-hire-modal></plan-hire-modal>